<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir archivo</title>
</head>
<body>
    <h1>Subir archivo y seleccionar nombres1</h1>
    
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Subir archivo">
    </form>

    {% if names %}
    <form action="/process" method="POST">
        <h2>Seleccionar filas</h2>
        <ul>
            {% for idx, name in names %}
                <li>
                    <input type="checkbox" name="rows" value="{{ loop.index0 }}">
                    {{ name[0] }} {{ name[1] }}
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Procesar selección">
    </form>
    {% endif %}
</body>
</html>
